In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import datetime
import warnings
import numpy as np
import os
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler, MinMaxScaler
os.getcwd()

'C:\\Users\\Dhananjay Gupta\\Desktop\\ShaktimanProject5'

In [4]:
shopsdata = pd.read_csv("./shops.csv")
testingdata = pd.read_csv("./test.csv")
salesdata = pd.read_csv("./sales_train_v2.csv")
submissiondata = pd.read_csv("./sample_submission.csv")
itemsdata = pd.read_csv('./items.csv')
item_categoriesdata = pd.read_csv("./item_categories.csv")

In [7]:
traindata = salesdata.join(itemsdata, on='item_id', rsuffix='_').join(shopsdata, on='shop_id', rsuffix='_').join(item_categoriesdata, on='item_category_id', rsuffix='_').drop(['item_id_', 'shop_id_', 'item_category_id_'], axis=1)
traindata.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id,shop_name,item_category_name
0,02.01.2013,0,59,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37,"Ярославль ТЦ ""Альтаир""",Кино - Blu-Ray
1,03.01.2013,0,25,2552,899.00,1.0,DEEP PURPLE The House Of Blue Light LP,58,"Москва ТРК ""Атриум""",Музыка - Винил
2,05.01.2013,0,25,2552,899.00,-1.0,DEEP PURPLE The House Of Blue Light LP,58,"Москва ТРК ""Атриум""",Музыка - Винил
3,06.01.2013,0,25,2554,1709.05,1.0,DEEP PURPLE Who Do You Think We Are LP,58,"Москва ТРК ""Атриум""",Музыка - Винил
4,15.01.2013,0,25,2555,1099.00,1.0,DEEP PURPLE 30 Very Best Of 2CD (Фирм.),56,"Москва ТРК ""Атриум""",Музыка - CD фирменного производства

In [8]:
item_ids_test = testingdata['item_id'].unique()
shop_ids_test = testingdata['shop_id'].unique()
train_lk = traindata[traindata['shop_id'].isin(shop_ids_test)]
train_lk = train_lk[train_lk['item_id'].isin(item_ids_test)]

In [74]:
traindata = traindata.query('item_price > 0')
traindata.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id,shop_name,item_category_name
0,02.01.2013,0,59,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37,"Ярославль ТЦ ""Альтаир""",Кино - Blu-Ray
1,03.01.2013,0,25,2552,899.00,1.0,DEEP PURPLE The House Of Blue Light LP,58,"Москва ТРК ""Атриум""",Музыка - Винил
2,05.01.2013,0,25,2552,899.00,-1.0,DEEP PURPLE The House Of Blue Light LP,58,"Москва ТРК ""Атриум""",Музыка - Винил
3,06.01.2013,0,25,2554,1709.05,1.0,DEEP PURPLE Who Do You Think We Are LP,58,"Москва ТРК ""Атриум""",Музыка - Винил
4,15.01.2013,0,25,2555,1099.00,1.0,DEEP PURPLE 30 Very Best Of 2CD (Фирм.),56,"Москва ТРК ""Атриум""",Музыка - CD фирменного производства

In [75]:
monthly_train = train_lk[['date', 'date_block_num', 'shop_id', 'item_category_id', 'item_id', 'item_price', 'item_cnt_day']]

In [76]:
monthly_train = monthly_train.sort_values('date').groupby(['date_block_num', 'shop_id', 'item_category_id', 'item_id'], as_index=False)
monthly_train = monthly_train.agg({'item_price':['sum', 'mean'], 'item_cnt_day':['sum', 'mean','count']})
monthly_train.columns = ['date_block_num', 'shop_id', 'item_category_id', 'item_id', 'item_price', 'mean_item_price', 'item_cnt', 'mean_item_cnt', 'transactions']
monthly_train

,date_block_num,shop_id,item_category_id,item_id,item_price,mean_item_price,item_cnt,mean_item_cnt,transactions
0,0,2,2,5572,10730.00,1532.857143,9.0,1.285714,7
1,0,2,2,5643,4775.21,2387.605000,0.0,0.000000,2
2,0,2,5,5583,1188.30,594.150000,2.0,1.000000,2
3,0,2,6,7893,5970.00,1990.000000,3.0,1.000000,3
4,0,2,6,7894,1490.00,1490.000000,1.0,1.000000,1
5,0,2,6,7895,2697.00,899.000000,4.0,1.333333,3
6,0,2,6,7956,13780.00,6890.000000,2.0,1.000000,2
7,0,2,19,1409,1398.50,1398.500000,1.0,1.000000,1
8,0,2,19,1467,899.00,899.000000,1.0,1.000000,1
9,0,2,19,3076,1399.00,1399.000000,1.0,1.000000,1
10,0,2,19,3316,2398.00,1199.000000,2.0,1.000000,2
11,0,2,19,3686,3595.50,898.875000,4.0,1.000000,4
12,0,2,19,3851,1798.00,899.000000,3.0,1.500000,2
13,0,2,19,4906,5096.50,1698.833333,3.0,1.000000,3
14,0,2,19,6727,999.00,999.000000,1.0,1.000000,1
15,0,2,19,11391,899.00,899.000000,1.0,1.000000,1
16,0,2,19,13511,3198.00,1599.000000,2.0,1.000000,2
17,0,2,21,1523,3995.00,799.000000,6.0,1.200000,5
18,0,2,21,2939,1198.00,599.000000,2.0,1.000000,2
19,0,2,21,2946,1198.00,599.000000,2.0,1.000000,2
20,0,2,22,4901,2998.00,1499.000000,2.0,1.000000,2
21,0,2,22,7220,7995.40,1998.850000,4.0,1.000000,4
22,0,2,23,2678,999.00,999.000000,1.0,1.000000,1
23,0,2,23,3077,1199.00,1199.000000,1.0,1.000000,1
24,0,2,23,3328,1999.00,1999.000000,1.0,1.000000,1
25,0,2,23,3554,2198.50,2198.500000,1.0,1.000000,1
26,0,2,23,3556,2199.00,2199.000000,1.0,1.000000,1
27,0,2,23,4240,1999.00,1999.000000,1.0,1.000000,1
28,0,2,23,4241,1399.00,1399.000000,1.0,1.000000,1
29,0,2,23,4244,1999.00,1999.000000,1.0,1.000000,1
...,...,...,...,...,...,...,...,...,...
600134,33,59,70,9355,1047.00,349.000000,3.0,1.000000,3
600135,33,59,70,9356,399.00,399.000000,1.0,1.000000,1
600136,33,59,70,9394,199.00,199.000000,1.0,1.000000,1
600137,33,59,70,9402,199.00,199.000000,1.0,1.000000,1
600138,33,59,70,9403,199.00,199.000000,1.0,1.000000,1
600139,33,59,70,9407,349.00,349.000000,1.0,1.000000,1
600140,33,59,70,9412,199.00,199.000000,1.0,1.000000,1
600141,33,59,70,9422,449.00,449.000000,1.0,1.000000,1
600142,33,59,70,15854,859.00,859.000000,1.0,1.000000,1
600143,33,59,70,16287,199.00,199.000000,1.0,1.000000,1
600144,33,59,70,17748,288.00,288.000000,1.0,1.000000,1
600145,33,59,71,20949,75.00,5.000000,19.0,1.266667,15
600146,33,59,72,20335,1149.00,1149.000000,1.0,1.000000,1
600147,33,59,72,20355,1249.00,1249.000000,1.0,1.000000,1
600148,33,59,72,20604,1998.00,999.000000,2.0,1.000000,2
600149,33,59,72,20614,1099.00,1099.000000,1.0,1.000000,1
600150,33,59,72,20629,2399.00,2399.000000,1.0,1.000000,1
600151,33,59,72,20730,499.00,499.000000,1.0,1.000000,1
600152,33,59,72,20751,699.00,699.000000,1.0,1.000000,1
600153,33,59,72,20866,2796.00,699.000000,4.0,1.000000,4
600154,33,59,73,491,480.00,480.000000,1.0,1.000000,1
600155,33,59,73,792,979.00,979.000000,1.0,1.000000,1
600156,33,59,75,3014,1290.00,1290.000000,1.0,1.000000,1
600157,33,59,75,4178,3180.00,1590.000000,3.0,1.500000,2
600158,33,59,75,4181,9030.00,1290.000000,7.0,1.000000,7
600159,33,59,75,5383,4390.00,4390.000000,1.0,1.000000,1
600160,33,59,79,17717,8025.50,802.550000,13.0,1.300000,10
600161,33,59,83,22087,357.00,119.000000,6.0,2.000000,3
600162,33,59,83,22088,238.00,119.000000,2.0,1.000000,2
600163,33,59,83,22091,179.00,179.000000,1.0,1.000000,1

In [77]:
shop_ids = monthly_train['shop_id'].unique()
item_ids = monthly_train['item_id'].unique()
empty_df = []
for i in range(34):
    for shop in shop_ids:
        for item in item_ids:
            empty_df.append([i, shop, item])
    
empty_df = pd.DataFrame(empty_df, columns=['date_block_num','shop_id','item_id'])

In [78]:
monthly_train = pd.merge(empty_df, monthly_train, on=['date_block_num','shop_id','item_id'], how='left')
monthly_train.fillna(0, inplace=True)
monthly_train

,date_block_num,shop_id,item_id,item_category_id,item_price,mean_item_price,item_cnt,mean_item_cnt,transactions
0,0,2,5572,2.0,10730.00,1532.857143,9.0,1.285714,7.0
1,0,2,5643,2.0,4775.21,2387.605000,0.0,0.000000,2.0
2,0,2,5583,5.0,1188.30,594.150000,2.0,1.000000,2.0
3,0,2,7893,6.0,5970.00,1990.000000,3.0,1.000000,3.0
4,0,2,7894,6.0,1490.00,1490.000000,1.0,1.000000,1.0
5,0,2,7895,6.0,2697.00,899.000000,4.0,1.333333,3.0
6,0,2,7956,6.0,13780.00,6890.000000,2.0,1.000000,2.0
7,0,2,1409,19.0,1398.50,1398.500000,1.0,1.000000,1.0
8,0,2,1467,19.0,899.00,899.000000,1.0,1.000000,1.0
9,0,2,3076,19.0,1399.00,1399.000000,1.0,1.000000,1.0
10,0,2,3316,19.0,2398.00,1199.000000,2.0,1.000000,2.0
11,0,2,3686,19.0,3595.50,898.875000,4.0,1.000000,4.0
12,0,2,3851,19.0,1798.00,899.000000,3.0,1.500000,2.0
13,0,2,4906,19.0,5096.50,1698.833333,3.0,1.000000,3.0
14,0,2,6727,19.0,999.00,999.000000,1.0,1.000000,1.0
15,0,2,11391,19.0,899.00,899.000000,1.0,1.000000,1.0
16,0,2,13511,19.0,3198.00,1599.000000,2.0,1.000000,2.0
17,0,2,1523,21.0,3995.00,799.000000,6.0,1.200000,5.0
18,0,2,2939,21.0,1198.00,599.000000,2.0,1.000000,2.0
19,0,2,2946,21.0,1198.00,599.000000,2.0,1.000000,2.0
20,0,2,4901,22.0,2998.00,1499.000000,2.0,1.000000,2.0
21,0,2,7220,22.0,7995.40,1998.850000,4.0,1.000000,4.0
22,0,2,2678,23.0,999.00,999.000000,1.0,1.000000,1.0
23,0,2,3077,23.0,1199.00,1199.000000,1.0,1.000000,1.0
24,0,2,3328,23.0,1999.00,1999.000000,1.0,1.000000,1.0
25,0,2,3554,23.0,2198.50,2198.500000,1.0,1.000000,1.0
26,0,2,3556,23.0,2199.00,2199.000000,1.0,1.000000,1.0
27,0,2,4240,23.0,1999.00,1999.000000,1.0,1.000000,1.0
28,0,2,4241,23.0,1399.00,1399.000000,1.0,1.000000,1.0
29,0,2,4244,23.0,1999.00,1999.000000,1.0,1.000000,1.0
...,...,...,...,...,...,...,...,...,...
6735846,33,36,10935,0.0,0.00,0.000000,0.0,0.000000,0.0
6735847,33,36,18303,0.0,0.00,0.000000,0.0,0.000000,0.0
6735848,33,36,5959,0.0,0.00,0.000000,0.0,0.000000,0.0
6735849,33,36,21195,0.0,0.00,0.000000,0.0,0.000000,0.0
6735850,33,36,21948,0.0,0.00,0.000000,0.0,0.000000,0.0
6735851,33,36,15411,0.0,0.00,0.000000,0.0,0.000000,0.0
6735852,33,36,16064,0.0,0.00,0.000000,0.0,0.000000,0.0
6735853,33,36,16098,0.0,0.00,0.000000,0.0,0.000000,0.0
6735854,33,36,16102,0.0,0.00,0.000000,0.0,0.000000,0.0
6735855,33,36,16196,0.0,0.00,0.000000,0.0,0.000000,0.0
6735856,33,36,9389,0.0,0.00,0.000000,0.0,0.000000,0.0
6735857,33,36,15926,0.0,0.00,0.000000,0.0,0.000000,0.0
6735858,33,36,20334,72.0,1949.00,1949.000000,1.0,1.000000,1.0
6735859,33,36,19075,0.0,0.00,0.000000,0.0,0.000000,0.0
6735860,33,36,19642,0.0,0.00,0.000000,0.0,0.000000,0.0
6735861,33,36,19478,0.0,0.00,0.000000,0.0,0.000000,0.0
6735862,33,36,19479,0.0,0.00,0.000000,0.0,0.000000,0.0
6735863,33,36,15420,0.0,0.00,0.000000,0.0,0.000000,0.0
6735864,33,36,15419,0.0,0.00,0.000000,0.0,0.000000,0.0
6735865,33,36,20214,0.0,0.00,0.000000,0.0,0.000000,0.0
6735866,33,36,15499,0.0,0.00,0.000000,0.0,0.000000,0.0
6735867,33,36,1819,0.0,0.00,0.000000,0.0,0.000000,0.0
6735868,33,36,3409,0.0,0.00,0.000000,0.0,0.000000,0.0
6735869,33,36,7717,0.0,0.00,0.000000,0.0,0.000000,0.0
6735870,33,36,10204,0.0,0.00,0.000000,0.0,0.000000,0.0
6735871,33,36,9103,0.0,0.00,0.000000,0.0,0.000000,0.0
6735872,33,36,9107,0.0,0.00,0.000000,0.0,0.000000,0.0
6735873,33,36,5704,0.0,0.00,0.000000,0.0,0.000000,0.0
6735874,33,36,12733,0.0,0.00,0.000000,0.0,0.000000,0.0
6735875,33,36,15925,0.0,0.00,0.000000,0.0,0.000000,0.0

In [79]:
monthly_train['year'] = monthly_train['date_block_num'].apply(lambda x: ((x//12) + 2013))
monthly_train['month'] = monthly_train['date_block_num'].apply(lambda x: (x % 12))

In [80]:
monthly_train = monthly_train.query('item_cnt >= 0 and item_cnt <= 20 and item_price < 400000')
monthly_train['item_cnt_month'] = monthly_train.sort_values('date_block_num').groupby(['shop_id', 'item_id'])['item_cnt'].shift(-1)

C:\Python\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [81]:
monthly_train['item_price_unit'] = monthly_train['item_price'] // monthly_train['item_cnt']
monthly_train['item_price_unit'].fillna(0, inplace=True)

C:\Python\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Python\Anaconda\lib\site-packages\pandas\core\generic.py:4355: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [82]:
item_price_gp = monthly_train.sort_values('date_block_num').groupby(['item_id'], as_index=False).agg({'item_price':[np.min, np.max]})
item_price_gp.columns = ['item_id', 'hist_min_item_price', 'hist_max_item_price']

monthly_train = pd.merge(monthly_train, item_price_gp, on='item_id', how='left')

In [83]:
monthly_train['price_increase'] = monthly_train['item_price'] - monthly_train['hist_min_item_price']
monthly_train['price_decrease'] = monthly_train['hist_max_item_price'] - monthly_train['item_price']
monthly_train

,date_block_num,shop_id,item_id,item_category_id,item_price,mean_item_price,item_cnt,mean_item_cnt,transactions,year,month,item_cnt_month,item_price_unit,hist_min_item_price,hist_max_item_price,price_increase,price_decrease
0,0,2,5572,2.0,10730.00,1532.857143,9.0,1.285714,7.0,2013,0,1.0,1192.0,0.0,18979.500000,10730.00,8249.500000
1,0,2,5643,2.0,4775.21,2387.605000,0.0,0.000000,2.0,2013,0,0.0,0.0,0.0,35260.000000,4775.21,30484.790000
2,0,2,5583,5.0,1188.30,594.150000,2.0,1.000000,2.0,2013,0,1.0,594.0,0.0,5592.000000,1188.30,4403.700000
3,0,2,7893,6.0,5970.00,1990.000000,3.0,1.000000,3.0,2013,0,2.0,1990.0,0.0,27950.000000,5970.00,21980.000000
4,0,2,7894,6.0,1490.00,1490.000000,1.0,1.000000,1.0,2013,0,2.0,1490.0,0.0,25880.000000,1490.00,24390.000000
5,0,2,7895,6.0,2697.00,899.000000,4.0,1.333333,3.0,2013,0,1.0,674.0,0.0,8447.000000,2697.00,5750.000000
6,0,2,7956,6.0,13780.00,6890.000000,2.0,1.000000,2.0,2013,0,0.0,6890.0,0.0,35230.000000,13780.00,21450.000000
7,0,2,1409,19.0,1398.50,1398.500000,1.0,1.000000,1.0,2013,0,0.0,1398.0,0.0,5596.000000,1398.50,4197.500000
8,0,2,1467,19.0,899.00,899.000000,1.0,1.000000,1.0,2013,0,0.0,899.0,0.0,5994.000000,899.00,5095.000000
9,0,2,3076,19.0,1399.00,1399.000000,1.0,1.000000,1.0,2013,0,3.0,1399.0,0.0,12559.765000,1399.00,11160.765000
10,0,2,3316,19.0,2398.00,1199.000000,2.0,1.000000,2.0,2013,0,0.0,1199.0,0.0,5194.000000,2398.00,2796.000000
11,0,2,3686,19.0,3595.50,898.875000,4.0,1.000000,4.0,2013,0,0.0,898.0,0.0,10788.000000,3595.50,7192.500000
12,0,2,3851,19.0,1798.00,899.000000,3.0,1.500000,2.0,2013,0,2.0,599.0,0.0,15282.350000,1798.00,13484.350000
13,0,2,4906,19.0,5096.50,1698.833333,3.0,1.000000,3.0,2013,0,1.0,1698.0,0.0,18889.000000,5096.50,13792.500000
14,0,2,6727,19.0,999.00,999.000000,1.0,1.000000,1.0,2013,0,0.0,999.0,0.0,4494.500000,999.00,3495.500000
15,0,2,11391,19.0,899.00,899.000000,1.0,1.000000,1.0,2013,0,2.0,899.0,0.0,9889.000000,899.00,8990.000000
16,0,2,13511,19.0,3198.00,1599.000000,2.0,1.000000,2.0,2013,0,2.0,1599.0,0.0,15990.000000,3198.00,12792.000000
17,0,2,1523,21.0,3995.00,799.000000,6.0,1.200000,5.0,2013,0,0.0,665.0,0.0,7990.000000,3995.00,3995.000000
18,0,2,2939,21.0,1198.00,599.000000,2.0,1.000000,2.0,2013,0,0.0,599.0,0.0,4192.700000,1198.00,2994.700000
19,0,2,2946,21.0,1198.00,599.000000,2.0,1.000000,2.0,2013,0,0.0,599.0,0.0,2995.000000,1198.00,1797.000000
20,0,2,4901,22.0,2998.00,1499.000000,2.0,1.000000,2.0,2013,0,3.0,1499.0,0.0,11293.000000,2998.00,8295.000000
21,0,2,7220,22.0,7995.40,1998.850000,4.0,1.000000,4.0,2013,0,0.0,1998.0,0.0,19980.000000,7995.40,11984.600000
22,0,2,2678,23.0,999.00,999.000000,1.0,1.000000,1.0,2013,0,2.0,999.0,0.0,6993.000000,999.00,5994.000000
23,0,2,3077,23.0,1199.00,1199.000000,1.0,1.000000,1.0,2013,0,4.0,1199.0,0.0,11990.000000,1199.00,10791.000000
24,0,2,3328,23.0,1999.00,1999.000000,1.0,1.000000,1.0,2013,0,4.0,1999.0,0.0,26237.030000,1999.00,24238.030000
25,0,2,3554,23.0,2198.50,2198.500000,1.0,1.000000,1.0,2013,0,2.0,2198.0,0.0,19791.000000,2198.50,17592.500000
26,0,2,3556,23.0,2199.00,2199.000000,1.0,1.000000,1.0,2013,0,1.0,2199.0,0.0,10787.500000,2199.00,8588.500000
27,0,2,4240,23.0,1999.00,1999.000000,1.0,1.000000,1.0,2013,0,0.0,1999.0,0.0,18010.136667,1999.00,16011.136667
28,0,2,4241,23.0,1399.00,1399.000000,1.0,1.000000,1.0,2013,0,0.0,1399.0,0.0,11192.000000,1399.00,9793.000000
29,0,2,4244,23.0,1999.00,1999.000000,1.0,1.000000,1.0,2013,0,0.0,1999.0,0.0,13986.000000,1999.00,11987.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6729514,33,36,10935,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,199.000000,0.00,199.000000
6729515,33,36,18303,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,239.000000,0.00,239.000000
6729516,33,36,5959,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,1849.000000,0.00,1849.000000
6729517,33,36,21195,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,1899.000000,0.00,1899.000000
6729518,33,36,21948,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,1699.000000,0.00,1699.000000
6729519,33,36,15411,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,699.000000,0.00,699.000000
6729520,33,36,16064,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,949.000000,0.00,949.000000
6729521,33,36,16098,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,2449.000000,0.00,2449.000000
6729522,33,36,16102,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,1549.000000,0.00,1549.000000
6729523,33,36,16196,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,2249.000000,0.00,2249.000000
6729524,33,36,9389,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,1398.000000,0.00,1398.000000
6729525,33,36,15926,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,11599.000000,0.00,11599.000000
6729526,33,36,20334,72.0,1949.00,1949.000000,1.0,1.000000,1.0,2015,9,NaN,1949.0,0.0,1949.000000,1949.00,0.000000
6729527,33,36,19075,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,249.000000,0.00,249.000000
6729528,33,36,19642,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,249.000000,0.00,249.000000
6729529,33,36,19478,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,2999.000000,0.00,2999.000000
6729530,33,36,19479,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,2999.000000,0.00,2999.000000
6729531,33,36,15420,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,649.000000,0.00,649.000000
6729532,33,36,15419,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,799.000000,0.00,799.000000
6729533,33,36,20214,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,649.000000,0.00,649.000000
6729534,33,36,15499,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,799.000000,0.00,799.000000
6729535,33,36,1819,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,2998.000000,0.00,2998.000000
6729536,33,36,3409,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,14990.000000,0.00,14990.000000
6729537,33,36,7717,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,1799.000000,0.00,1799.000000
6729538,33,36,10204,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,3591.000000,0.00,3591.000000
6729539,33,36,9103,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,500.000000,0.00,500.000000
6729540,33,36,9107,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,300.000000,0.00,300.000000
6729541,33,36,5704,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,1750.000000,0.00,1750.000000
6729542,33,36,12733,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,2980.000000,0.00,2980.000000
6729543,33,36,15925,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,9,NaN,0.0,0.0,11899.000000,0.00,11899.000000

In [9]:
# Mean value
mean_f = lambda x: x.rolling(window=3, min_periods=1).mean()
# Max value
maximum_f = lambda x: x.rolling(window=3, min_periods=1).max()
minimum_f = lambda x: x.rolling(window=3, min_periods=1).min()
# Standard deviation
std_f = lambda x: x.rolling(window=3, min_periods=1).std()

name_fun = ['min', 'max', 'mean', 'std']
list_fun = [minimum_f, maximum_f, mean_f, std_f]


for i in range(len(list_fun)):
    monthly_train[('item_cnt_%s' % name_fun[i])] = monthly_train.sort_values('date_block_num').groupby(['shop_id', 'item_category_id', 'item_id'])['item_cnt'].apply(list_fun[i])

# Fill the empty std features with 0
monthly_train['item_cnt_std'].fillna(0, inplace=True)

NameError: name 'maximum_f' is not defined

In [85]:
list_lag = [1, 2, 3]

for lag in list_lag:
    name_ft = ('item_cnt_shifted%s' % lag)
    monthly_train[name_ft] = monthly_train.sort_values('date_block_num').groupby(['shop_id', 'item_category_id', 'item_id'])['item_cnt'].shift(lag)
    monthly_train[name_ft].fillna(0, inplace=True)

In [86]:
monthly_train['item_trend'] = monthly_train['item_cnt']

for lag in list_lag:
    name_ft = ('item_cnt_shifted%s' % lag)
    monthly_train['item_trend'] -= monthly_train[name_ft]

monthly_train['item_trend'] /= len(list_lag) + 1
monthly_train

,date_block_num,shop_id,item_id,item_category_id,item_price,mean_item_price,item_cnt,mean_item_cnt,transactions,year,...,price_increase,price_decrease,item_cnt_min,item_cnt_max,item_cnt_mean,item_cnt_std,item_cnt_shifted1,item_cnt_shifted2,item_cnt_shifted3,item_trend
0,0,2,5572,2.0,10730.00,1532.857143,9.0,1.285714,7.0,2013,...,10730.00,8249.500000,9.0,9.0,9.0,0.0,0.0,0.0,0.0,2.25
1,0,2,5643,2.0,4775.21,2387.605000,0.0,0.000000,2.0,2013,...,4775.21,30484.790000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
2,0,2,5583,5.0,1188.30,594.150000,2.0,1.000000,2.0,2013,...,1188.30,4403.700000,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.50
3,0,2,7893,6.0,5970.00,1990.000000,3.0,1.000000,3.0,2013,...,5970.00,21980.000000,3.0,3.0,3.0,0.0,0.0,0.0,0.0,0.75
4,0,2,7894,6.0,1490.00,1490.000000,1.0,1.000000,1.0,2013,...,1490.00,24390.000000,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.25
5,0,2,7895,6.0,2697.00,899.000000,4.0,1.333333,3.0,2013,...,2697.00,5750.000000,4.0,4.0,4.0,0.0,0.0,0.0,0.0,1.00
6,0,2,7956,6.0,13780.00,6890.000000,2.0,1.000000,2.0,2013,...,13780.00,21450.000000,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.50
7,0,2,1409,19.0,1398.50,1398.500000,1.0,1.000000,1.0,2013,...,1398.50,4197.500000,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.25
8,0,2,1467,19.0,899.00,899.000000,1.0,1.000000,1.0,2013,...,899.00,5095.000000,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.25
9,0,2,3076,19.0,1399.00,1399.000000,1.0,1.000000,1.0,2013,...,1399.00,11160.765000,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.25
10,0,2,3316,19.0,2398.00,1199.000000,2.0,1.000000,2.0,2013,...,2398.00,2796.000000,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.50
11,0,2,3686,19.0,3595.50,898.875000,4.0,1.000000,4.0,2013,...,3595.50,7192.500000,4.0,4.0,4.0,0.0,0.0,0.0,0.0,1.00
12,0,2,3851,19.0,1798.00,899.000000,3.0,1.500000,2.0,2013,...,1798.00,13484.350000,3.0,3.0,3.0,0.0,0.0,0.0,0.0,0.75
13,0,2,4906,19.0,5096.50,1698.833333,3.0,1.000000,3.0,2013,...,5096.50,13792.500000,3.0,3.0,3.0,0.0,0.0,0.0,0.0,0.75
14,0,2,6727,19.0,999.00,999.000000,1.0,1.000000,1.0,2013,...,999.00,3495.500000,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.25
15,0,2,11391,19.0,899.00,899.000000,1.0,1.000000,1.0,2013,...,899.00,8990.000000,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.25
16,0,2,13511,19.0,3198.00,1599.000000,2.0,1.000000,2.0,2013,...,3198.00,12792.000000,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.50
17,0,2,1523,21.0,3995.00,799.000000,6.0,1.200000,5.0,2013,...,3995.00,3995.000000,6.0,6.0,6.0,0.0,0.0,0.0,0.0,1.50
18,0,2,2939,21.0,1198.00,599.000000,2.0,1.000000,2.0,2013,...,1198.00,2994.700000,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.50
19,0,2,2946,21.0,1198.00,599.000000,2.0,1.000000,2.0,2013,...,1198.00,1797.000000,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.50
20,0,2,4901,22.0,2998.00,1499.000000,2.0,1.000000,2.0,2013,...,2998.00,8295.000000,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.50
21,0,2,7220,22.0,7995.40,1998.850000,4.0,1.000000,4.0,2013,...,7995.40,11984.600000,4.0,4.0,4.0,0.0,0.0,0.0,0.0,1.00
22,0,2,2678,23.0,999.00,999.000000,1.0,1.000000,1.0,2013,...,999.00,5994.000000,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.25
23,0,2,3077,23.0,1199.00,1199.000000,1.0,1.000000,1.0,2013,...,1199.00,10791.000000,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.25
24,0,2,3328,23.0,1999.00,1999.000000,1.0,1.000000,1.0,2013,...,1999.00,24238.030000,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.25
25,0,2,3554,23.0,2198.50,2198.500000,1.0,1.000000,1.0,2013,...,2198.50,17592.500000,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.25
26,0,2,3556,23.0,2199.00,2199.000000,1.0,1.000000,1.0,2013,...,2199.00,8588.500000,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.25
27,0,2,4240,23.0,1999.00,1999.000000,1.0,1.000000,1.0,2013,...,1999.00,16011.136667,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.25
28,0,2,4241,23.0,1399.00,1399.000000,1.0,1.000000,1.0,2013,...,1399.00,9793.000000,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.25
29,0,2,4244,23.0,1999.00,1999.000000,1.0,1.000000,1.0,2013,...,1999.00,11987.000000,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6729514,33,36,10935,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,199.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729515,33,36,18303,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,239.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729516,33,36,5959,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,1849.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729517,33,36,21195,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,1899.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729518,33,36,21948,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,1699.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729519,33,36,15411,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,699.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729520,33,36,16064,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,949.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729521,33,36,16098,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,2449.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729522,33,36,16102,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,1549.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729523,33,36,16196,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,2249.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729524,33,36,9389,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,1398.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729525,33,36,15926,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,11599.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729526,33,36,20334,72.0,1949.00,1949.000000,1.0,1.000000,1.0,2015,...,1949.00,0.000000,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.25
6729527,33,36,19075,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,249.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729528,33,36,19642,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,249.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729529,33,36,19478,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,2999.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729530,33,36,19479,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,2999.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729531,33,36,15420,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,649.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729532,33,36,15419,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,799.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729533,33,36,20214,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,649.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729534,33,36,15499,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,799.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729535,33,36,1819,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,2998.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729536,33,36,3409,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,14990.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729537,33,36,7717,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,1799.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729538,33,36,10204,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,3591.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729539,33,36,9103,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,500.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729540,33,36,9107,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,300.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729541,33,36,5704,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,1750.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729542,33,36,12733,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,2980.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6729543,33,36,15925,0.0,0.00,0.000000,0.0,0.000000,0.0,2015,...,0.00,11899.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00

In [87]:
set_train = monthly_train.query('date_block_num >= 3 and date_block_num < 28').copy()
set_valid = monthly_train.query('date_block_num >= 28 and date_block_num < 33').copy()
set_test = monthly_train.query('date_block_num == 33').copy()

In [88]:
mean_gp_shop = monthly_train.groupby(['shop_id']).agg({'item_cnt_month': ['mean']})
mean_gp_shop.columns = ['shop_mean']
mean_gp_shop.reset_index(inplace=True)

In [89]:
set_train.dropna(subset=['item_cnt_month'], inplace=True)
set_valid.dropna(subset=['item_cnt_month'], inplace=True)

In [90]:
set_train.dropna(inplace=True)
set_valid.dropna(inplace=True)

In [91]:
mean_gp_item = monthly_train.groupby(['item_id']).agg({'item_cnt_month': ['mean']})
mean_gp_item.columns = ['item_mean']
mean_gp_item.reset_index(inplace=True)

In [92]:
gp_shop_item_mean = monthly_train.groupby(['shop_id', 'item_id']).agg({'item_cnt_month': ['mean']})
gp_shop_item_mean.columns = ['shop_item_mean']
gp_shop_item_mean.reset_index(inplace=True)

In [93]:
gp_year_mean = monthly_train.groupby(['year']).agg({'item_cnt_month': ['mean']})
gp_year_mean.columns = ['year_mean']
gp_year_mean.reset_index(inplace=True)

In [94]:
mean_gp_month = monthly_train.groupby(['month']).agg({'item_cnt_month': ['mean']})
mean_gp_month.columns = ['month_mean']
mean_gp_month.reset_index(inplace=True)

In [95]:
set_train = pd.merge(monthly_train, mean_gp_shop, on=['shop_id'], how='left')
set_train = pd.merge(set_train, mean_gp_item, on=['item_id'], how='left')
set_train = pd.merge(set_train, gp_shop_item_mean, on=['shop_id', 'item_id'], how='left')
set_train = pd.merge(set_train, gp_year_mean, on=['year'], how='left')
set_train = pd.merge(set_train, mean_gp_month, on=['month'], how='left')

In [96]:
set_valid = pd.merge(set_valid, mean_gp_shop, on=['shop_id'], how='left')
set_valid = pd.merge(set_valid, mean_gp_item, on=['item_id'], how='left')
set_valid = pd.merge(set_valid, gp_shop_item_mean, on=['shop_id', 'item_id'], how='left')
set_valid = pd.merge(set_valid, gp_year_mean, on=['year'], how='left')
set_valid = pd.merge(set_valid, mean_gp_month, on=['month'], how='left')

In [99]:
train_X = set_train.drop(['item_cnt_month', 'date_block_num'], axis=1)
Y_train = set_train['item_cnt_month']
X_validation = set_valid.drop(['item_cnt_month', 'date_block_num'], axis=1)
Y_validation = set_valid['item_cnt_month'].astype(int)
print(X_validation)
print(Y_validation)

        shop_id  item_id  item_category_id  item_price  mean_item_price  \
0             2     5572               2.0      1590.0          1590.00
1             2     5643               0.0         0.0             0.00
2             2     5583               0.0         0.0             0.00
3             2     7893               0.0         0.0             0.00
4             2     7894               6.0      4579.5          2289.75
5             2     7895               0.0         0.0             0.00
6             2     7956               0.0         0.0             0.00
7             2     1409               0.0         0.0             0.00
8             2     1467               0.0         0.0             0.00
9             2     3076              19.0      2398.0          1199.00
10            2     3316               0.0         0.0             0.00
11            2     3686               0.0         0.0             0.00
12            2     3851               0.0         0.0             0.00
13            2     4906               0.0         0.0             0.00
14            2     6727               0.0         0.0             0.00
15            2    11391               0.0         0.0             0.00
16            2    13511               0.0         0.0             0.00
17            2     1523               0.0         0.0             0.00
18            2     2939              21.0       449.0           449.00
19            2     2946              21.0       898.0           449.00
20            2     4901               0.0         0.0             0.00
21            2     7220               0.0         0.0             0.00
22            2     2678               0.0         0.0             0.00
23            2     3077              23.0      1199.0          1199.00
24            2     3328               0.0         0.0             0.00
25            2     3554               0.0         0.0             0.00
26            2     3556               0.0         0.0             0.00
27            2     4240               0.0         0.0             0.00
28            2     4241               0.0         0.0             0.00
29            2     4244              23.0      1299.0          1299.00
...         ...      ...               ...         ...              ...
989590       36    10935               0.0         0.0             0.00
989591       36    18303               0.0         0.0             0.00
989592       36     5959               0.0         0.0             0.00
989593       36    21195               0.0         0.0             0.00
989594       36    21948               0.0         0.0             0.00
989595       36    15411               0.0         0.0             0.00
989596       36    16064               0.0         0.0             0.00
989597       36    16098               0.0         0.0             0.00
989598       36    16102               0.0         0.0             0.00
989599       36    16196               0.0         0.0             0.00
989600       36     9389               0.0         0.0             0.00
989601       36    15926               0.0         0.0             0.00
989602       36    20334               0.0         0.0             0.00
989603       36    19075               0.0         0.0             0.00
989604       36    19642               0.0         0.0             0.00
989605       36    19478               0.0         0.0             0.00
989606       36    19479               0.0         0.0             0.00
989607       36    15420               0.0         0.0             0.00
989608       36    15419               0.0         0.0             0.00
989609       36    20214               0.0         0.0             0.00
989610       36    15499               0.0         0.0             0.00
989611       36     1819               0.0         0.0             0.00
989612       36     3409               0.0         0.0             0.00
989613       36     7717               0.0         0.0             0.00
989614       36    10204               0.0         0.0             0.00
989615       36     9103               0.0         0.0             0.00
989616       36     9107               0.0         0.0             0.00
989617       36     5704               0.0         0.0             0.00
989618       36    12733               0.0         0.0             0.00
989619       36    15925               0.0         0.0             0.00

        item_cnt  mean_item_cnt  transactions  year  month     ...      \
0            1.0            1.0           1.0  2015      4     ...
1            0.0            0.0           0.0  2015      4     ...
2            0.0            0.0           0.0  2015      4     ...
3            0.0            0.0           0.0  2015      4     ...
4            2.0            1.0           2.0  2015      4     ...
5            0.0            0.0           0.0  2015      4     ...
6            0.0            0.0           0.0  2015      4     ...
7            0.0            0.0           0.0  2015      4     ...
8            0.0            0.0           0.0  2015      4     ...
9            2.0            1.0           2.0  2015      4     ...
10           0.0            0.0           0.0  2015      4     ...
11           0.0            0.0           0.0  2015      4     ...
12           0.0            0.0           0.0  2015      4     ...
13           0.0            0.0           0.0  2015      4     ...
14           0.0            0.0           0.0  2015      4     ...
15           0.0            0.0           0.0  2015      4     ...
16           0.0            0.0           0.0  2015      4     ...
17           0.0            0.0           0.0  2015      4     ...
18           1.0            1.0           1.0  2015      4     ...
19           2.0            1.0           2.0  2015      4     ...
20           0.0            0.0           0.0  2015      4     ...
21           0.0            0.0           0.0  2015      4     ...
22           0.0            0.0           0.0  2015      4     ...
23           1.0            1.0           1.0  2015      4     ...
24           0.0            0.0           0.0  2015      4     ...
25           0.0            0.0           0.0  2015      4     ...
26           0.0            0.0           0.0  2015      4     ...
27           0.0            0.0           0.0  2015      4     ...
28           0.0            0.0           0.0  2015      4     ...
29           1.0            1.0           1.0  2015      4     ...
...          ...            ...           ...   ...    ...     ...
989590       0.0            0.0           0.0  2015      8     ...
989591       0.0            0.0           0.0  2015      8     ...
989592       0.0            0.0           0.0  2015      8     ...
989593       0.0            0.0           0.0  2015      8     ...
989594       0.0            0.0           0.0  2015      8     ...
989595       0.0            0.0           0.0  2015      8     ...
989596       0.0            0.0           0.0  2015      8     ...
989597       0.0            0.0           0.0  2015      8     ...
989598       0.0            0.0           0.0  2015      8     ...
989599       0.0            0.0           0.0  2015      8     ...
989600       0.0            0.0           0.0  2015      8     ...
989601       0.0            0.0           0.0  2015      8     ...
989602       0.0            0.0           0.0  2015      8     ...
989603       0.0            0.0           0.0  2015      8     ...
989604       0.0            0.0           0.0  2015      8     ...
989605       0.0            0.0           0.0  2015      8     ...
989606       0.0            0.0           0.0  2015      8     ...
989607       0.0            0.0           0.0  2015      8     ...
989608       0.0            0.0           0.0  2015      8     ...
989609       0.0            0.0           0.0  2015      8     ...
989610       0.0            0.0           0.0  2015      8     ...
989611       0.0            0.0           0.0  2015      8     ...
989612       0.0            0.0           0.0  2015      8     ...
989613       0.0            0.0           0.0  2015      8     ...
989614       0.0            0.0           0.0  2015      8     ...
989615       0.0            0.0           0.0  2015      8     ...
989616       0.0            0.0           0.0  2015      8     ...
989617       0.0            0.0           0.0  2015      8     ...
989618       0.0            0.0           0.0  2015      8     ...
989619       0.0            0.0           0.0  2015      8     ...

        item_cnt_std  item_cnt_shifted1  item_cnt_shifted2  item_cnt_shifted3  \
0       0.000000e+00                1.0                1.0                1.0
1       0.000000e+00                0.0                0.0                0.0
2       0.000000e+00                0.0                0.0                0.0
3       0.000000e+00                0.0                0.0                0.0
4       2.081666e+00                1.0                5.0                2.0
5       0.000000e+00                0.0                0.0                0.0
6       0.000000e+00                0.0                0.0                0.0
7       0.000000e+00                0.0                0.0                0.0
8       0.000000e+00                0.0                0.0                0.0
9       5.773503e-01                1.0                2.0                1.0
10      0.000000e+00                0.0                0.0                0.0
11      0.000000e+00                0.0                0.0                0.0
12      0.000000e+00                0.0                0.0                0.0
13      0.000000e+00                0.0                0.0                0.0
14      0.000000e+00                0.0                0.0                0.0
15      0.000000e+00                0.0                0.0                0.0
16      0.000000e+00                0.0                0.0                0.0
17      0.000000e+00                0.0                0.0                0.0
18      7.450581e-09                1.0                1.0                1.0
19      5.773503e-01                1.0                1.0                1.0
20      0.000000e+00                0.0                0.0                0.0
21      0.000000e+00                0.0                0.0                0.0
22      0.000000e+00                0.0                0.0                0.0
23      5.773503e-01                1.0                2.0                1.0
24      0.000000e+00                0.0                0.0                0.0
25      0.000000e+00                0.0                0.0                0.0
26      0.000000e+00                0.0                0.0                0.0
27      0.000000e+00                0.0                0.0                0.0
28      0.000000e+00                0.0                0.0                0.0
29      5.773503e-01                1.0                2.0                1.0
...              ...                ...                ...                ...
989590  0.000000e+00                0.0                0.0                0.0
989591  0.000000e+00                0.0                0.0                0.0
989592  0.000000e+00                0.0                0.0                0.0
989593  0.000000e+00                0.0                0.0                0.0
989594  0.000000e+00                0.0                0.0                0.0
989595  0.000000e+00                0.0                0.0                0.0
989596  0.000000e+00                0.0                0.0                0.0
989597  0.000000e+00                0.0                0.0                0.0
989598  0.000000e+00                0.0                0.0                0.0
989599  0.000000e+00                0.0                0.0                0.0
989600  0.000000e+00                0.0                0.0                0.0
989601  0.000000e+00                0.0                0.0                0.0
989602  0.000000e+00                0.0                0.0                0.0
989603  0.000000e+00                0.0                0.0                0.0
989604  0.000000e+00                0.0                0.0                0.0
989605  0.000000e+00                0.0                0.0                0.0
989606  0.000000e+00                0.0                0.0                0.0
989607  0.000000e+00                0.0                0.0                0.0
989608  0.000000e+00                0.0                0.0                0.0
989609  0.000000e+00                0.0                0.0                0.0
989610  0.000000e+00                0.0                0.0                0.0
989611  0.000000e+00                0.0                0.0                0.0
989612  0.000000e+00                0.0                0.0                0.0
989613  0.000000e+00                0.0                0.0                0.0
989614  0.000000e+00                0.0                0.0                0.0
989615  0.000000e+00                0.0                0.0                0.0
989616  0.000000e+00                0.0                0.0                0.0
989617  0.000000e+00                0.0                0.0                0.0
989618  0.000000e+00                0.0                0.0                0.0
989619  0.000000e+00                0.0                0.0                0.0

        item_trend  shop_mean  item_mean  shop_item_mean  year_mean  \
0            -0.50   0.100174   1.017329        0.787879   0.236645
1             0.00   0.100174   1.682803        1.393939   0.236645
2             0.00   0.100174   0.540404        0.181818   0.236645
3             0.00   0.100174   2.787373        2.818182   0.236645
4            -1.50   0.100174   3.318777        1.545455   0.236645
5             0.00   0.100174   1.271284        1.454545   0.236645
6             0.00   0.100174   0.562861        0.696970   0.236645
7             0.00   0.100174   0.036075        0.060606   0.236645
8             0.00   0.100174   0.644765        0.545455   0.236645
9            -0.50   0.100174   2.334056        3.212121   0.236645
10            0.00   0.100174   0.778339        1.090909   0.236645
11            0.00   0.100174   1.118412        0.696970   0.236645
12            0.00   0.100174   2.087365        1.515152   0.236645
13            0.00   0.100174   1.376895        0.969697   0.236645
14            0.00   0.100174   0.225108        0.090909   0.236645
15            0.00   0.100174   0.927128        0.787879   0.236645
16            0.00   0.100174   0.488456        0.454545   0.236645
17            0.00   0.100174   1.027457        0.939394   0.236645
18           -0.50   0.100174   0.556999        0.484848   0.236645
19           -0.25   0.100174   0.596390        0.363636   0.236645
20            0.00   0.100174   0.499278        0.454545   0.236645
21            0.00   0.100174   0.787879        0.545455   0.236645
22            0.00   0.100174   0.862915        1.030303   0.236645
23           -0.75   0.100174   2.361656        2.242424   0.236645
24            0.00   0.100174   1.342774        1.545455   0.236645
25            0.00   0.100174   0.808802        0.515152   0.236645
26            0.00   0.100174   1.660405        1.666667   0.236645
27            0.00   0.100174   1.248012        1.424242   0.236645
28            0.00   0.100174   0.509380        0.787879   0.236645
29           -0.75   0.100174   2.436364        3.424242   0.236645
...            ...        ...        ...             ...        ...
989590        0.00   0.002081   0.000722        0.000000   0.236645
989591        0.00   0.002081   0.001443        0.000000   0.236645
989592        0.00   0.002081   0.000722        0.000000   0.236645
989593        0.00   0.002081   0.000722        0.000000   0.236645
989594        0.00   0.002081   0.000722        0.000000   0.236645
989595        0.00   0.002081   0.002886        0.000000   0.236645
989596        0.00   0.002081   0.000722        0.000000   0.236645
989597        0.00   0.002081   0.001443        0.000000   0.236645
989598        0.00   0.002081   0.000722        0.000000   0.236645
989599        0.00   0.002081   0.000722        0.000000   0.236645
989600        0.00   0.002081   0.002886        0.000000   0.236645
989601        0.00   0.002081   0.001443        0.000000   0.236645
989602        0.00   0.002081   0.001443        0.030303   0.236645
989603        0.00   0.002081   0.000722        0.000000   0.236645
989604        0.00   0.002081   0.000722        0.000000   0.236645
989605        0.00   0.002081   0.000722        0.000000   0.236645
989606        0.00   0.002081   0.000722        0.000000   0.236645
989607        0.00   0.002081   0.001443        0.000000   0.236645
989608        0.00   0.002081   0.000722        0.000000   0.236645
989609        0.00   0.002081   0.000722        0.000000   0.236645
989610        0.00   0.002081   0.000722        0.000000   0.236645
989611        0.00   0.002081   0.002886        0.000000   0.236645
989612        0.00   0.002081   0.011544        0.000000   0.236645
989613        0.00   0.002081   0.001443        0.000000   0.236645
989614        0.00   0.002081   0.011544        0.000000   0.236645
989615        0.00   0.002081   0.007937        0.000000   0.236645
989616        0.00   0.002081   0.004329        0.000000   0.236645
989617        0.00   0.002081   0.000722        0.000000   0.236645
989618        0.00   0.002081   0.001443        0.000000   0.236645
989619        0.00   0.002081   0.000722        0.000000   0.236645

        month_mean
0         0.168245
1         0.168245
2         0.168245
3         0.168245
4         0.168245
5         0.168245
6         0.168245
7         0.168245
8         0.168245
9         0.168245
10        0.168245
11        0.168245
12        0.168245
13        0.168245
14        0.168245
15        0.168245
16        0.168245
17        0.168245
18        0.168245
19        0.168245
20        0.168245
21        0.168245
22        0.168245
23        0.168245
24        0.168245
25        0.168245
26        0.168245
27        0.168245
28        0.168245
29        0.168245
...            ...
989590    0.196448
989591    0.196448
989592    0.196448
989593    0.196448
989594    0.196448
989595    0.196448
989596    0.196448
989597    0.196448
989598    0.196448
989599    0.196448
989600    0.196448
989601    0.196448
989602    0.196448
989603    0.196448
989604    0.196448
989605    0.196448
989606    0.196448
989607    0.196448
989608    0.196448
989609    0.196448
989610    0.196448
989611    0.196448
989612    0.196448
989613    0.196448
989614    0.196448
989615    0.196448
989616    0.196448
989617    0.196448
989618    0.196448
989619    0.196448

[989620 rows x 28 columns]
0         0
1         0
2         0
3         4
4         1
5         1
6         0
7         1
8         0
9         2
10        0
11        0
12        0
13        0
14        0
15        1
16        0
17        0
18        0
19        0
20        1
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        2
         ..
989590    0
989591    0
989592    0
989593    0
989594    0
989595    0
989596    0
989597    0
989598    0
989599    0
989600    0
989601    0
989602    1
989603    0
989604    0
989605    0
989606    0
989607    0
989608    0
989609    0
989610    0
989611    0
989612    0
989613    0
989614    0
989615    0
989616    0
989617    0
989618    0
989619    0
Name: item_cnt_month, Length: 989620, dtype: int32

In [100]:
int_features = ['shop_id', 'item_id', 'year', 'month']
train_X[int_features] = train_X[int_features].astype('int32')
X_validation[int_features] = X_validation[int_features].astype('int32')

In [101]:
latest_records = pd.concat([set_train, set_valid]).drop_duplicates(subset=['shop_id', 'item_id'], keep='last')
X_test = pd.merge(testingdata, latest_records, on=['shop_id', 'item_id'], how='left', suffixes=['', '_'])
X_test['year'] = 2015
X_test['month'] = 9
X_test.drop('item_cnt_month', axis=1, inplace=True)
X_test[int_features] = X_test[int_features].astype('int32')
X_test = X_test[train_X.columns]
X_test.head()

,shop_id,item_id,item_category_id,item_price,mean_item_price,item_cnt,mean_item_cnt,transactions,year,month,...,item_cnt_std,item_cnt_shifted1,item_cnt_shifted2,item_cnt_shifted3,item_trend,shop_mean,item_mean,shop_item_mean,year_mean,month_mean
0,5,5037,19.0,749.5,749.5,1.0,1.0,1.0,2015,9,...,1.154701,3.0,1.0,1.0,-1.00,0.137392,0.806941,0.393939,0.236645,0.196448
1,5,5320,NaN,NaN,NaN,NaN,NaN,NaN,2015,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,5233,19.0,2997.0,999.0,3.0,1.0,3.0,2015,9,...,1.000000,1.0,2.0,3.0,-0.75,0.137392,0.352092,0.303030,0.236645,0.196448
3,5,5232,0.0,0.0,0.0,0.0,0.0,0.0,2015,9,...,0.000000,0.0,0.0,0.0,0.00,0.137392,0.101010,0.030303,0.236645,0.196448
4,5,5268,NaN,NaN,NaN,NaN,NaN,NaN,2015,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
sets = [train_X, X_validation, X_test]
for dataset in sets:
    for shop_id in dataset['shop_id'].unique():
        for column in dataset.columns:
            shop_median = dataset[(dataset['shop_id'] == shop_id)][column].median()
            dataset.loc[(dataset[column].isnull()) & (dataset['shop_id'] == shop_id), column] = shop_median
            
X_test.fillna(X_test.mean(), inplace=True)

In [114]:
train_X.drop(['item_category_id'], axis=1, inplace=True)
X_validation.drop(['item_category_id'], axis=1, inplace=True)
X_test.drop(['item_category_id'], axis=1, inplace=True)
X_test.describe().T

ValueError: labels ['item_category_id'] not contained in axis

In [107]:
lr_features = ['item_cnt', 'item_cnt_shifted1', 'item_trend', 'mean_item_cnt', 'shop_mean']
lr_train = train_X[lr_features]
lr_val = X_validation[lr_features]
lr_test = X_test[lr_features]

In [108]:
lr_scaler = MinMaxScaler()
lr_scaler.fit(lr_train)
lr_train = lr_scaler.transform(lr_train)
lr_val = lr_scaler.transform(lr_val)
lr_test = lr_scaler.transform(lr_test)

In [113]:
lr_train_pred = lr_model.predict(lr_train)
lr_val_pred = lr_model.predict(lr_val)
lr_test_pred = lr_model.predict(lr_test)

NotFittedError: This LinearRegression instance is not fitted yet. Call 'fit' with appropriate arguments before using this method.

In [ ]:
print('Train rmse:', np.sqrt(mean_squared_error(Y_train, lr_train_pred)))
print('Validation rmse:', np.sqrt(mean_squared_error(Y_validation, lr_val_pred)))

In [ ]:
first_level['linear_regression'] = lr_val_pred
first_level.head()

In [112]:
first_level_test['linear_regression'] = lr_test_pred
first_level_test.tail()

NameError: name 'lr_test_pred' is not defined

In [ ]:
meta_model = LinearRegression(n_jobs=-1)
meta_model

In [ ]:
first_level.drop('label', axis=1, inplace=True)
meta_model.fit(first_level, Y_validation)

In [ ]:
ensemble_pred = meta_model.predict(first_level)
final_predictions = meta_model.predict(first_level_test)

In [ ]:
print('Train rmse:', np.sqrt(mean_squared_error(ensemble_pred, Y_validation)))

In [106]:
prediction_df = pd.DataFrame(testingdata['ID'], columns=['ID'])
prediction_df['item_cnt_month'] = final_predictions.clip(0., 20.)
prediction_df.to_csv('submission.csv', index=False)
prediction_df.head()

NameError: name 'final_predictions' is not defined